<ion-view title="Page 4" hide-nav-bar="true">
    <ion-header-bar align-title="left" class="bar-light">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon-round"   ng-click="slidemenu()">
            </button>
        </div>
        <h1 class="title text-center">PHYKOSE</h1>
        <div class="buttons">
            <img src="img/menuiconright.png"/>
        </div>
    </ion-header-bar>
    <ion-content class="ion-content">
    <div class="page1 margin-7 margin-top-0">
   <div class="row">
       <div class="width-100  padding-top-10">
           <h3 class="paraheading">Yd forstehjaelp</h3>
           <div class="list">
               <label class="item item-radio">
                   <input type="radio" name="group">
                   <div class="item-content">
                       Region H
                   </div>
               </label>
               <label class="item item-radio">
                   <input type="radio" name="group">
                   <div class="item-content">
                       Region Midt
                   </div>
               </label>
               <label class="item item-radio">
                   <input type="radio" name="group" checked>
                   <div class="item-content">
                       Region Hovedstaten
                   </div>
               </label>
               <label class="item item-radio">
                   <input type="radio" name="group">
                   <div class="item-content">
                       Region Syd
                   </div>
               </label>
               <label class="item item-radio">
                   <input type="radio" name="group">
                   <div class="item-content">
                       Ved ikke
                   </div>
               </label>
           </div>
       </div>
   </div>
        <div class="row">
            <div class="width-100 text-center padding-top-10">
                <img src="img/nextwhite.png">
            </div>
        </div>
    </div>
        <div class="row white">
            <div class="page1 margin-7 margin-top-0 padding-top-6 padding-botom-20">
        <p>eller angiv postnummer</p>
                <div class="list list-inset bottomtext">
                    <label class="item item-input padding-top-0 padding-bottom-0">
                        <input type="text" class="maincolor"  value="Skriv postnummer">
                        <img src="img/nextred.png">
                    </label>
                </div>
            </div>
        </div>

</ion-content>
</ion-view>
