<ion-view title="Page 1" hide-nav-bar="true">
<ion-content class="ion-content">
    <div class="page1 margin-7">
   <div class="row">
       <div class="width-100  padding-top-10">
           <img src="img/icon1.jpg" class="width-100">
       </div>
   </div>
        <div class="row">
        <div class="width-100 buttonlinks">
            <button class="button button-full button-light icon-right ion-chevron-right" ng-click="gotopage2()">
                Physic Forsech/Help
            </button>
            <button class="button button-full button-light icon-right ion-chevron-right" ng-click="gotohelp1()">
                soj/help
            </button>
            <button class="button button-full button-light icon-right ion-chevron-right">
                test din viden
            </button>
        </div>
        </div>
        <div class="row">
            <div class="width-100 col-40">
                <img src="img/leftnew.png" class="width-100">
            </div>
            <div class="width-100 col-20">
            </div>
            <div class="width-100 col-40">
                <img src="img/rightnew.png" class="width-100">
            </div>
        </div>
    </div>
</ion-content>
</ion-view>
