<ion-view title="Page 4" hide-nav-bar="true">
    <ion-header-bar align-title="left" class="bar-light">
        <div class="buttons">
            <button class="button button-icon button-clear ion-arrow-left-c"  ng-click="myGoBack()">
            </button>
        </div>
        <h1 class="title text-center">PHYKOSE</h1>
        <div class="buttons">
            <img src="img/menuiconright.png"/>
        </div>
    </ion-header-bar>
    <ion-content class="ion-content">
    <div class="page1 margin-7 margin-top-0">
   <div class="row">
       <div class="width-100  padding-top-10">
           <h3 class="paraheading">Yd forstehjaelp</h3>
           <p class="paragraph">
               rgwgrwgwrgr rgwr gwrg gr grwg wrgwr g
               rgrgrw gr gr g wr gwrgwr gwrg gwr
               sfbbfbfbsbsvfbffefgfgge  ge dg
               rgwgrwgwrgr rgwr gwrg gr grwg wrgwr g
               rgrgrw gr gr g wr gwrgwr gwrg gwr
               sfbbfbfbsbsvfbffefgfgge  ge dg
               rgwgrwgwrgr rgwr gwrg gr grwg wrgwr g
               rgrgrw gr gr g wr gwrgwr gwrg gwr
               sfbbfbfbsbsvfbffefgfgge  ge dg
           </p>
           <p class="paragraph">
               rgwgrwgwrgr rgwr gwrg gr grwg wrgwr g
               rgrgrw gr gr g wr gwrgwr gwrg gwr
               sfbbfbfbsbsvfbffefgfgge  ge dg
               rgwgrwgwrgr rgwr gwrg gr grwg wrgwr g
               rgrgrw gr gr g wr gwrgwr gwrg gwr
               sfbbfbfbsbsvfbffefgfgge  ge dg
               rgwgrwgwrgr rgwr gwrg gr grwg wrgwr g
               rgrgrw gr gr g wr gwrgwr gwrg gwr
               sfbbfbfbsbsvfbffefgfgge  ge dg
           </p>
       </div>
   </div>
    </div>
</ion-content>
</ion-view>
